$font-family: "Open Sans", sans-serif;

$fs-base: 1rem;
$fs-9: 0.75rem; // 9px
$fs-12: 1rem; // 12px
$fs-14: 1.1667rem; // 14px
$fs-16: 1.3333rem; // 16px
$fs-19: 1.5833rem; // 19px
$fs-22: 1.8333rem; // 22px
$fs-25: 2.0833rem; // 25px
$fs-33: 2.75rem; // 33px

$fs-small: $fs-9;
$fs-medium: $fs-14;
$fs-large: $fs-19;
$fs-body: $fs-14;
$fs-menu: $fs-14;
$fs-btn: $fs-12;
$fs-footer: $fs-12;
$fs-logo: $fs-19;